.publicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  form input, form textarea{
    display: block;    
    } 
    
    button{
        margin-top: 4px;
    }
   .publicacion p{
     padding-right: px;
     font-size: 30px;
     

    }

   